@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

body {
  color: black;
}

@layer components {
  .links {
    @apply inline-block px-3 py-2 rounded-md hover:bg-blue-500 hover:text-white transition;
  }
}