@import "tailwindcss";
@import "@heroui/styles";


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}


@layer components {
  .links {
    @apply text-gray-700 text-xl font-semibold hover:text-blue-600 transition duration-200;
  }
}